USE [ConvenienceStoreDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 24/04/2026 9:30:07 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 24/04/2026 9:30:07 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 24/04/2026 9:30:07 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 24/04/2026 9:30:07 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 24/04/2026 9:30:07 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 24/04/2026 9:30:07 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 24/04/2026 9:30:07 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[HoTen] [nvarchar](max) NULL,
	[DiaChi] [nvarchar](max) NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 24/04/2026 9:30:07 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDonHangs]    Script Date: 24/04/2026 9:30:07 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonHangs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DonHangId] [int] NOT NULL,
	[SanPhamId] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_ChiTietDonHangs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhGiaSanPhams]    Script Date: 24/04/2026 9:30:07 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhGiaSanPhams](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SanPhamId] [int] NOT NULL,
	[NguoiDungId] [nvarchar](450) NOT NULL,
	[SoSao] [int] NOT NULL,
	[BinhLuan] [nvarchar](1000) NULL,
	[HinhAnhDanhGia] [nvarchar](max) NULL,
	[NgayDanhGia] [datetime2](7) NOT NULL,
	[BiAn] [bit] NOT NULL,
 CONSTRAINT [PK_DanhGiaSanPhams] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMucs]    Script Date: 24/04/2026 9:30:07 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMucs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenDanhMuc] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](max) NULL,
	[TrangThai] [bit] NOT NULL,
 CONSTRAINT [PK_DanhMucs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHangs]    Script Date: 24/04/2026 9:30:07 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHangs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NguoiDungId] [nvarchar](450) NOT NULL,
	[HoTenNguoiNhan] [nvarchar](200) NOT NULL,
	[SoDienThoai] [nvarchar](20) NOT NULL,
	[DiaChiNhanHang] [nvarchar](300) NOT NULL,
	[TongTien] [decimal](18, 2) NOT NULL,
	[NgayDatHang] [datetime2](7) NOT NULL,
	[TrangThai] [int] NOT NULL,
 CONSTRAINT [PK_DonHangs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPhams]    Script Date: 24/04/2026 9:30:07 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPhams](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenSanPham] [nvarchar](max) NOT NULL,
	[MoTa] [nvarchar](max) NULL,
	[Gia] [decimal](18, 2) NOT NULL,
	[SoLuongTon] [int] NOT NULL,
	[HinhAnh] [nvarchar](max) NULL,
	[TrangThai] [bit] NOT NULL,
	[DanhMucId] [int] NOT NULL,
	[NgayBatDauKhuyenMai] [datetime2](7) NULL,
	[NgayKetThucKhuyenMai] [datetime2](7) NULL,
	[PhanTramGiam] [int] NOT NULL,
 CONSTRAINT [PK_SanPhams] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260416041821_KhoiTaoDanhMucSanPham', N'8.0.11')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260416112816_ThemBangNguoiDungIdentity', N'8.0.11')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260417035130_ThemBangDonHang', N'8.0.11')
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'63c50f22-c3d8-4d75-b4c9-f5163a1c78f7', N'NhanVien', N'NHANVIEN', NULL)
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'7efc50a4-5fe5-4c69-ac06-a64db6485d98', N'Admin', N'ADMIN', NULL)
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'd0e9e10b-a092-4cef-bede-838ea4fbb59c', N'KhachHang', N'KHACHHANG', NULL)
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'344b6f8a-066f-41bc-a6f3-d086e47db22d', N'63c50f22-c3d8-4d75-b4c9-f5163a1c78f7')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'3f0ad731-7410-4835-bf76-6086ae8d210c', N'63c50f22-c3d8-4d75-b4c9-f5163a1c78f7')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'e63fdd4b-14e2-441c-9ab5-f45c3d6bc46e', N'7efc50a4-5fe5-4c69-ac06-a64db6485d98')
GO
SET IDENTITY_INSERT [dbo].[ChiTietDonHangs] ON 

INSERT [dbo].[ChiTietDonHangs] ([Id], [DonHangId], [SanPhamId], [SoLuong], [DonGia]) VALUES (1, 1, 1, 1, CAST(12000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietDonHangs] ([Id], [DonHangId], [SanPhamId], [SoLuong], [DonGia]) VALUES (2, 2, 1, 1, CAST(12000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[ChiTietDonHangs] OFF
GO
SET IDENTITY_INSERT [dbo].[DanhGiaSanPhams] ON 

INSERT [dbo].[DanhGiaSanPhams] ([Id], [SanPhamId], [NguoiDungId], [SoSao], [BinhLuan], [HinhAnhDanhGia], [NgayDanhGia], [BiAn]) VALUES (1, 1, N'2c4d29c7-df52-4fd5-997c-2e1b1d864d8b', 5, N'Ngon', NULL, CAST(N'2026-04-20T21:40:41.6516804' AS DateTime2), 0)
INSERT [dbo].[DanhGiaSanPhams] ([Id], [SanPhamId], [NguoiDungId], [SoSao], [BinhLuan], [HinhAnhDanhGia], [NgayDanhGia], [BiAn]) VALUES (2, 1, N'80e1ebe2-6e82-4d7f-967f-690a505ab9cf', 5, N'Rẻ hơn so với mặt bằng chung', N'/images/danhgia/9eb03f84-fef9-4657-a125-3be5873ecd8a.webp', CAST(N'2026-04-20T21:42:33.6681972' AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[DanhGiaSanPhams] OFF
GO
SET IDENTITY_INSERT [dbo].[DanhMucs] ON 

INSERT [dbo].[DanhMucs] ([Id], [TenDanhMuc], [MoTa], [TrangThai]) VALUES (1, N'Nước giải khát', NULL, 1)
SET IDENTITY_INSERT [dbo].[DanhMucs] OFF
GO
SET IDENTITY_INSERT [dbo].[DonHangs] ON 

INSERT [dbo].[DonHangs] ([Id], [NguoiDungId], [HoTenNguoiNhan], [SoDienThoai], [DiaChiNhanHang], [TongTien], [NgayDatHang], [TrangThai]) VALUES (1, N'2c4d29c7-df52-4fd5-997c-2e1b1d864d8b', N'Hà Đức Anh', N'0905000001', N'Bình Dương', CAST(12000.00 AS Decimal(18, 2)), CAST(N'2026-04-20T21:12:33.4471301' AS DateTime2), 4)
INSERT [dbo].[DonHangs] ([Id], [NguoiDungId], [HoTenNguoiNhan], [SoDienThoai], [DiaChiNhanHang], [TongTien], [NgayDatHang], [TrangThai]) VALUES (2, N'80e1ebe2-6e82-4d7f-967f-690a505ab9cf', N'Lê Thị Lan', N'0559976784', N'Bình Dương', CAST(12000.00 AS Decimal(18, 2)), CAST(N'2026-04-20T21:41:56.2686867' AS DateTime2), 4)
SET IDENTITY_INSERT [dbo].[DonHangs] OFF
GO
SET IDENTITY_INSERT [dbo].[SanPhams] ON 

INSERT [dbo].[SanPhams] ([Id], [TenSanPham], [MoTa], [Gia], [SoLuongTon], [HinhAnh], [TrangThai], [DanhMucId], [NgayBatDauKhuyenMai], [NgayKetThucKhuyenMai], [PhanTramGiam]) VALUES (1, N'Sting dâu', NULL, CAST(12000.00 AS Decimal(18, 2)), 43, N'https://www.lottemart.vn/media/catalog/product/cache/0x0/8/9/8934588233074-1.jpg.webp', 1, 1, NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[SanPhams] OFF
GO
ALTER TABLE [dbo].[SanPhams] ADD  DEFAULT ((0)) FOR [PhanTramGiam]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[ChiTietDonHangs]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonHangs_DonHangs_DonHangId] FOREIGN KEY([DonHangId])
REFERENCES [dbo].[DonHangs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietDonHangs] CHECK CONSTRAINT [FK_ChiTietDonHangs_DonHangs_DonHangId]
GO
ALTER TABLE [dbo].[ChiTietDonHangs]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonHangs_SanPhams_SanPhamId] FOREIGN KEY([SanPhamId])
REFERENCES [dbo].[SanPhams] ([Id])
GO
ALTER TABLE [dbo].[ChiTietDonHangs] CHECK CONSTRAINT [FK_ChiTietDonHangs_SanPhams_SanPhamId]
GO
ALTER TABLE [dbo].[DanhGiaSanPhams]  WITH CHECK ADD  CONSTRAINT [FK_DanhGiaSanPhams_AspNetUsers_NguoiDungId] FOREIGN KEY([NguoiDungId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[DanhGiaSanPhams] CHECK CONSTRAINT [FK_DanhGiaSanPhams_AspNetUsers_NguoiDungId]
GO
ALTER TABLE [dbo].[DanhGiaSanPhams]  WITH CHECK ADD  CONSTRAINT [FK_DanhGiaSanPhams_SanPhams_SanPhamId] FOREIGN KEY([SanPhamId])
REFERENCES [dbo].[SanPhams] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DanhGiaSanPhams] CHECK CONSTRAINT [FK_DanhGiaSanPhams_SanPhams_SanPhamId]
GO
ALTER TABLE [dbo].[DonHangs]  WITH CHECK ADD  CONSTRAINT [FK_DonHangs_AspNetUsers_NguoiDungId] FOREIGN KEY([NguoiDungId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[DonHangs] CHECK CONSTRAINT [FK_DonHangs_AspNetUsers_NguoiDungId]
GO
ALTER TABLE [dbo].[SanPhams]  WITH CHECK ADD  CONSTRAINT [FK_SanPhams_DanhMucs_DanhMucId] FOREIGN KEY([DanhMucId])
REFERENCES [dbo].[DanhMucs] ([Id])
GO
ALTER TABLE [dbo].[SanPhams] CHECK CONSTRAINT [FK_SanPhams_DanhMucs_DanhMucId]
GO
